img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
    
}

.gallery {
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 60%;
}

.outer {
  overflow: hidden;
}

.item img {
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}


.item img:hover {
  -webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.one, .two, .three, .four, .five, .six {
  border-radius: 55%;
}



@media only screen and (max-width: 65em) {
    .gallery {
        grid-template-columns: 1fr 1fr;
    }
}


@media only screen and (max-width: 45em) {
    .gallery {
        grid-template-columns: 1fr;
    }
}

